/* Reset and basic styling */
body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #000;
    color: #40e07d; /* Green text */
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

pre#normal {font-size: 100%}
pre#smaller {font-size: 50%}
pre#smallest {font-size: 20%}

#scroll-container {
  border: 3px solid black;
  border-radius: 5px;
  overflow: hidden;
}

#scroll-text {
  text-align: right;

  /* animation properties */
  -moz-transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  
  -moz-animation: my-animation 15s linear infinite;
  -webkit-animation: my-animation 15s linear infinite;
  animation: my-animation 15s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
  from { -moz-transform: translateX(-100%); }
  to { -moz-transform: translateX(100%); }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from { -webkit-transform: translateX(-100%); }
  to { -webkit-transform: translateX(100%); }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  to {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
/* Header styling */
header {
    background-color: #111;
    color: #40e07d; /* Green text */
    padding: 35px;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height:100px;
    z-index: 1000;
    display: flex;
    align-items: center;
}

/* ASCII Art styling */
.ascii-art {
    margin-right: 20px; /* Adjust as needed */
}

.ascii-art pre {
    font-size: 1.5em;
    margin: 0;
}

/* Header content styling */
.header-content {
    flex: 1; /* Take remaining space */
}

.header-content h1 {
    margin: 0;
}

/* Navigation styling */
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #40e07d; /* Green text */
    text-decoration: none;
    padding: 10px;
}

nav ul li a:hover {
    background-color: #333;
    border-radius: 5px;
}

/* Main content styling */
main {
    padding-top: 140px; /* Adjust according to header and margin needs */
    padding-bottom: 60px; /* Adjust according to footer height */
    overflow-y: auto; /* Enable vertical scrolling */
    height: calc(100vh - 140px); /* Adjust height if necessary */
}

/* Article section styling */
#latest-articles {
    margin-top: 20px;
}

#latest-articles h2 {
    color: #40e07d; /* Green text */
}

#latest-articles h3 {
    color: #458588; /* Green text */
}

.article {
    margin-bottom: 20px;
}

.article h3 {
    font-size: 1.2em;
	color: #458588;
}

.article p {
    color: #aaa; /* Light gray text */
}

/* Footer styling */
footer {
    background-color: #111;
    color: #40e07d; /* Green text */
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000; /* Ensure footer stays above main content */
}
